.max-70p {
    max-width: 70%;
}

.text-right{
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.pv-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-20{
    padding: 20px;
}

.br-10{
    border-radius: 10px;
}

.br-20{
    border-radius: 20px;
}

.fs-30{
    font-size: 30px;
}

.bg-theme{
    background-color: rgb(2, 41, 102)
}

.text-yellow{
    color: rgb(243, 205, 116) !important;
}

.image-80p{
    max-width: 80% !important;
    max-height: 80% !important;
}

.img-30p{
    max-width: 30% !important;
    max-height: 30% !important; 
}

@media only screen and (max-width: 600px) {
    .max-70p {
        max-width: 100% ;
    }
  }